<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Classwork</title>
    <link rel="stylesheet" type="text/css" href="../css/header.css">
</head>
<body>
    <header>
        <span id="logo">ClassWork</span>
        <span id="buttons">
            <span class="button">Home</span>
            <span class="button">Profile</span>
        </span>
    </header>

    <div id="content">
        <div id="jumbotron">
            <div>
                <div id="jumbotron-container">
                    <input type='text' placeholder="Логин">
                    <input type='text' placeholder="Пароль">

                    <div class="button-container">
                        <div class="solid-button">
                            Войти
                        </div>
                        <div class="solid-button">
                            Заявка на регистрацию
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wide-block">
            <img src="http://elementalfitnessvancouver.files.wordpress.com/2011/05/atom-image.jpg">
            Atom is a text editor that's modern, approachable, yet hackable to the core—a tool you can customize to do anything but also use productively without ever touching a config file.
        </div>

        <div class="wide-block">
            <img src="http://elementalfitnessvancouver.files.wordpress.com/2011/05/atom-image.jpg">
            Atom is a text editor that's modern, approachable, yet hackable to the core—a tool you can customize to do anything but also use productively without ever touching a config file.
        </div>

        <div class="wide-block">
            <img src="http://elementalfitnessvancouver.files.wordpress.com/2011/05/atom-image.jpg">
            Atom is a text editor that's modern, approachable, yet hackable to the core—a tool you can customize to do anything but also use productively without ever touching a config file.
        </div>

        <div class="wide-block">
            <img src="http://elementalfitnessvancouver.files.wordpress.com/2011/05/atom-image.jpg">
            Atom is a text editor that's modern, approachable, yet hackable to the core—a tool you can customize to do anything but also use productively without ever touching a config file.
        </div>
    </div>
</body>
</html>