<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>ClassWorld - Student Profile</title>
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/profile-student.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    <header>
        <span id="logo">ClassWork</span>
        <span id="buttons">
            <span class="button">Home</span>
            <span class="button">Profile</span>
        </span>
    </header>

    <div class="left-bar">
        <div class="header">
            Список курсов
        </div>
        <ul>
            <li id="prog-button">Программирование</li>
            <li id="math-button">Математика</li>
            <li id="phys-button">Физика</li>
        </ul>
    </div>

    <div class="course-info">
        <div class="header">
            Описание курса
        </div>
        <div class="content">
            Описание курса программирования
        </div>
    </div>
    
    <script type="text/javascript" src="../js/profile-student.js"></script>
</body>
</html>