body, html {
    margin: 0px;
    padding: 0px; 

    font-family: sans-serif;
}

header {
    height: 55px;
    line-height: 55px;

    padding-left: 20px;
    padding-right: 20px;

    background-color: #0f6bb4;
    color: #eee;

    border-bottom: 1px solid #0f4ba4;
}

header > #logo {
    line-height: 55px;
    font-size: 25px;
    font-weight: bold;
}

header > #buttons {
    margin-left: 20px;
    line-height: 55px;
}

header > #buttons > .button {
    margin-left: 10px;
    margin-right: 10px;
}

header > #buttons > .button:hover {
    color: #aaa;
    cursor: pointer;
}
